/*
project name: My project one pages
project author:Yiğit Özen
project year: 2022
project version: v.1
*/
/* config file */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Crimson Text', serif;
    position: relative;
}

html{
    font-size:15px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p{
    text-align: justify;
    margin-left: .7rem;
    margin-right: .7rem;
}

.line_clamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line_clamp16 {
    display: -webkit-box;
    -webkit-line-clamp: 16;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* nav */
#logo_id{
    width: 5rem;
    border-radius: 50%;
}

#logo_id:hover{
    box-shadow: 1px 1px 1px 4px rgba(255,0,0.8);
}

/* header */
header{
    background-image: url('picture/header.jpg');
    background-size: cover;
    background-position: 50% 50%;
    padding-top:12rem;
    height:40rem;
    z-index: -1;
    background-color: black!important;
}


/* main */
#main_card_header_bottom>img { 
    max-height: 30rem !important;
}

#about-2{
    margin-top: 10%;
    background-color: #eaf0fc;
    height: 32rem;
}

#main_card_header_bottom h5,
p {
    color: black;
}
/* footer */
footer{
    min-height: 20rem;
    width:auto;
    background:#242524;
}

footer > h6,p,div{
    color:white;
}